<%= form_with model: article do |form| %>
  <div class="m-1">
    <%= form.label :title %><br />
    <%= form.text_field :title , class: "input" %>
    <% @article.errors.full_messages_for(:title).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div class="m-1 mb-4">
    <%= form.label :body %><br />
    <%= form.text_area:body ,  class: "textarea" %>
    <% @article.errors.full_messages_for(:body).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :status %><br />
    <%= form.select :status, Visible::VALID_STATUSES, selected: 'public' %>
  </div>

  <div class="columns mt-5">
    <%= link_to '  Back', :back, class: "button  column" %>
    <%= form.submit nil, :class => "button is-primary column" %>
  </div>
<% end %>
