<%= link_to 'Back', :back, class: "button" %>

<h1 class="title"><%= @article.title %></h1>
<p class="p-4 card subtitle">
  <%= @article.body %>
</p>

<%= link_to "Edit", edit_article_path(@article), class: "button is-warning" %>
<%=
  link_to "Delete", article_path(@article), data: ({
    turbo_method: :delete,
    turbo_confirm: "Are you sure?"
  }), class: "button  is-danger"
%>

<hr class="divider" />

<h2 class="title is_4 mt-4 ">Comments</h2>
<%= render @article.comments %>

<br class="divider" />

<h2 class="title is-5">Add a comment</h2>

<%= render "comments/form" %>
